.about {
    display: flex;
    margin: 250px;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    padding: 150px;
    border-radius: 10px;
    
    p {
        position: relative;
        font-size: 20px;
        color: white;
        right: 18%;
        bottom: 70%;
    }


    h1 {
        font-size: 24px;
        font-weight: bold;
        color: white;
    }
}