@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background: rgb(0, 18, 51);
  background: linear-gradient(90deg, rgba(0, 18, 51, 1) 0%, rgba(0, 40, 85, 1) 41%, rgba(3, 83, 164, 1) 100%);
  color: #333;
  font-family: 'Inconsolata', monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
